<header class="topbar">
  <div class="brand">
    <span class="logo">mini-spa</span>
  </div>

  <nav class="nav">
    <a routerLink="/login" routerLinkActive="active" *ngIf="!isAuthenticated()">
      Login
    </a>

    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="isAuthenticated()"
    >
      Organizaciones
    </a>

    <a routerLink="/usuarios" routerLinkActive="active" *ngIf="isAuthenticated()">
      Usuarios
    </a>

    <button type="button" class="nav-btn" *ngIf="isAuthenticated()" (click)="logout()">
      Logout
    </button>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <small>Seminari Angular · CRUD</small>
</footer>